@{
    ViewData["Title"] = "Home Page";
}
@model List<TODoList.Models.Note>
<div class="snippet-body">
        <div class="col-md-12" style="height:100%">
            <div class="card-hover-shadow-2x mb-3 card" style="height:80%">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                            class="fa fa-tasks"></i>&nbsp;Task Lists</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">

                                @foreach (var item in Model)
                                {
                                                                 <partial name="_IndiviualNote" model ="item" />
                                }



                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                        <div class="d-block text-right card-footer"><button
                        class="mr-2 btn btn-link btn-sm">Cancel</button><button class="btn btn-primary">Add
                        Task</button></div>



                @section Scripts{
    <script>

        function markAsCompleted(id){
            // get check Box value
            var isChecked= document.getElementById("exampleCustomCheckbox"+String(id)).checked;
            // change State
            document.getElementById("exampleCustomCheckbox"+String(id)).checked=!isChecked;
            // Update DB
            //var xhttp = new XMLHttpRequest();
            //var param="id="+String(id)+"&combleated="+!isChecked;
            //xhttp.open("POST", '@Url.Action("Compleated","Home")', true);
            //xhttp.send(param); 

            //$.get(
            //    @Url.Action("Compleated","Home"),{id:1}function (data) {  
            //$("#rData").html(data);  
            // });  

            $.ajax({
                type: 'GET',
                url: '@Url.Action("Compleated","Home")',
                dataType: 'json',
                contentType: 'application/json',
                data: {id: id , isCompleated:!isChecked} 


                });

        }

    </script>
}

